body {
    .playfair-display font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    margin: 0;
    padding: 0;
}

#Testa {
    background-image: url(/img/pattern.png);
    background-size: 350px;
    background-color: lightskyblue;
    padding: 20px 0;
    margin-bottom: 20px;
    height: 700px;
    
}